In [1]:
import pandas as pd

In [4]:
df1 = pd.DataFrame({'Temp': [75, 73, 72, 76],
                   'Humidity': [30, 45, 42, 42],
                   'Precip': [0, 0, 1, 1],},
                  index = [0,1,2,3])

In [6]:
df2 = pd.DataFrame({'Temp': [76, 73, 75, 78],
                   'Humidity': [32, 40, 42, 41],
                   'Precip': [0, 1, 1, 1],},
                  index = [4,5,6,7])
df3 = pd.DataFrame({'Temp': [78, 73, 70, 76],
                   'Humidity': [30, 43, 40, 42],
                   'Precip': [0, 0, 0, 1],},
                  index = [8,9,10,11])

In [8]:
concat_df = pd.concat([df1, df2, df3])
print(concat_df)

    Temp  Humidity  Precip
0     75        30       0
1     73        45       0
2     72        42       1
3     76        42       1
4     76        32       0
5     73        40       1
6     75        42       1
7     78        41       1
8     78        30       0
9     73        43       0
10    70        40       0
11    76        42       1

In [9]:
df4 = pd.DataFrame({'Temp': [78, 73, 70, 76],
                   'Humidity': [30, 43, 40, 42],
                   'Wind': [15, 14, 12, 11],},
                  index = [8,9,10,11])

In [10]:
concat_df = pd.concat([df1, df2, df4])
print(concat_df)

    Temp  Humidity  Precip  Wind
0     75        30     0.0   NaN
1     73        45     0.0   NaN
2     72        42     1.0   NaN
3     76        42     1.0   NaN
4     76        32     0.0   NaN
5     73        40     1.0   NaN
6     75        42     1.0   NaN
7     78        41     1.0   NaN
8     78        30     NaN  15.0
9     73        43     NaN  14.0
10    70        40     NaN  12.0
11    76        42     NaN  11.0

In [11]:
df5 = pd.DataFrame({'Pressure': [42, 41, 43, 43],
                   'Cloud': [55, 55, 55, 55],
                   'Wind': [15, 13, 11, 11],},
                  index = [0,1,2,3])

In [12]:
concat_df = pd.concat([df1, df2, df5])
print(concat_df)

   Temp  Humidity  Precip  Pressure  Cloud  Wind
0  75.0      30.0     0.0       NaN    NaN   NaN
1  73.0      45.0     0.0       NaN    NaN   NaN
2  72.0      42.0     1.0       NaN    NaN   NaN
3  76.0      42.0     1.0       NaN    NaN   NaN
4  76.0      32.0     0.0       NaN    NaN   NaN
5  73.0      40.0     1.0       NaN    NaN   NaN
6  75.0      42.0     1.0       NaN    NaN   NaN
7  78.0      41.0     1.0       NaN    NaN   NaN
0   NaN       NaN     NaN      42.0   55.0  15.0
1   NaN       NaN     NaN      41.0   55.0  13.0
2   NaN       NaN     NaN      43.0   55.0  11.0
3   NaN       NaN     NaN      43.0   55.0  11.0

In [13]:
concat_df = pd.concat([df1, df2, df5], axis=1)
print(concat_df)

   Temp  Humidity  Precip  Temp  Humidity  Precip  Pressure  Cloud  Wind
0  75.0      30.0     0.0   NaN       NaN     NaN      42.0   55.0  15.0
1  73.0      45.0     0.0   NaN       NaN     NaN      41.0   55.0  13.0
2  72.0      42.0     1.0   NaN       NaN     NaN      43.0   55.0  11.0
3  76.0      42.0     1.0   NaN       NaN     NaN      43.0   55.0  11.0
4   NaN       NaN     NaN  76.0      32.0     0.0       NaN    NaN   NaN
5   NaN       NaN     NaN  73.0      40.0     1.0       NaN    NaN   NaN
6   NaN       NaN     NaN  75.0      42.0     1.0       NaN    NaN   NaN
7   NaN       NaN     NaN  78.0      41.0     1.0       NaN    NaN   NaN

Appending Dataframes

In [14]:
appended = df1.append(df2)
appended

   Temp  Humidity  Precip
0    75        30       0
1    73        45       0
2    72        42       1
3    76        42       1
4    76        32       0
5    73        40       1
6    75        42       1
7    78        41       1

Insert a Single Row

In [15]:
values = [77,44,1]
s= pd.Series(values, index = ['Temp','Humidity','Precip'])
df1.append(s, ignore_index=True)

   Temp  Humidity  Precip
0    75        30       0
1    73        45       0
2    72        42       1
3    76        42       1
4    77        44       1

In [18]:
df1 = pd.DataFrame({'Temp': [75, 73, 72, 76],
                   'Humidity': [30, 45, 42, 42],
                   'Precip': [0, 0, 1, 1],})
                  
df2 = pd.DataFrame({'Temp': [75, 73, 72, 76],
                   'Humidity': [32, 40, 42, 41],
                   'Precip': [0, 1, 1, 1],})

In [19]:
pd.merge(df1, df2, on='Temp')

   Temp  Humidity_x  Precip_x  Humidity_y  Precip_y
0    75          30         0          32         0
1    73          45         0          40         1
2    72          42         1          42         1
3    76          42         1          41         1

In [20]:
df2 = pd.DataFrame({'Temp': [75, 73, 72, 76],
                   'Wind': [32, 40, 42, 41],
                   'Cloudy': [0, 1, 1, 1],})

In [21]:
pd.merge(df1, df2, on='Temp')

   Temp  Humidity  Precip  Wind  Cloudy
0    75        30       0    32       0
1    73        45       0    40       1
2    72        42       1    42       1
3    76        42       1    41       1

In [4]:
main_users = pd.DataFrame({ 
                    'Username': ['Joe', 'James', 'Roy'],
                    'Password': ['joepwd','jamespwd','Roypwd'],
                    'JoinDate': ['March', 'April', 'March']
    
            })
forum_users = pd.DataFrame({ 
                    'Username': ['Joe', 'James', 'Roy'],
                    'Postcount': [25,45,37],
                    'UserSatus': [0,1,1]
    
            })

In [5]:
pd.merge(main_users, forum_users, on='Username')

  Username  Password JoinDate  Postcount  UserSatus
0      Joe    joepwd    March         25          0
1    James  jamespwd    April         45          1
2      Roy    Roypwd    March         37          1

In [6]:
main_users.set_index('Username', inplace=True)
forum_users.set_index("Username", inplace=True)

In [7]:
main_users.join(forum_users)

          Password JoinDate  Postcount  UserSatus
Username
Joe         joepwd    March         25          0
James     jamespwd    April         45          1
Roy         Roypwd    March         37          1

In [8]:
main_users = pd.DataFrame({ 
                    'Username': ['Joe', 'James', 'Roy', 'Smith'],
                    'Password': ['joepwd','jamespwd','Roypwd','smithpwd'],
                    'JoinDate': ['March', 'April', 'March', 'April']
    
            })
forum_users = pd.DataFrame({ 
                    'Username': ['Joe', 'James', 'Roy'],
                    'Postcount': [25,45,37],
                    'UserSatus': [0,1,1]
    
            })

main_users.set_index('Username', inplace=True)
forum_users.set_index("Username", inplace=True)

main_users.join(forum_users)

          Password JoinDate  Postcount  UserSatus
Username
Joe         joepwd    March       25.0        0.0
James     jamespwd    April       45.0        1.0
Roy         Roypwd    March       37.0        1.0
Smith     smithpwd    April        NaN        NaN

In [9]:
main_users = pd.DataFrame({ 
                    'Username': ['Joe', 'James', 'Roy', 'Smith'],
                    'Password': ['joepwd','jamespwd','Roypwd','smithpwd'],
                    'JoinDate': ['March', 'April', 'March', 'April']
    
            })
forum_users = pd.DataFrame({ 
                    'Username': ['Joe', 'James', 'Roy'],
                    'Postcount': [25,45,37],
                    'UserSatus': [0,1,1]
    
            })

pd.merge(main_users, forum_users, on='Username')

  Username  Password JoinDate  Postcount  UserSatus
0      Joe    joepwd    March         25          0
1    James  jamespwd    April         45          1
2      Roy    Roypwd    March         37          1

In [10]:
pd.merge(main_users, forum_users, on='Username', how='outer')

  Username  Password JoinDate  Postcount  UserSatus
0      Joe    joepwd    March       25.0        0.0
1    James  jamespwd    April       45.0        1.0
2      Roy    Roypwd    March       37.0        1.0
3    Smith  smithpwd    April        NaN        NaN

In [11]:
pd.merge(main_users, forum_users, on='Username', how='inner')

  Username  Password JoinDate  Postcount  UserSatus
0      Joe    joepwd    March         25          0
1    James  jamespwd    April         45          1
2      Roy    Roypwd    March         37          1

In [12]:
pd.merge(main_users, forum_users, on='Username', how='right')

  Username  Password JoinDate  Postcount  UserSatus
0      Joe    joepwd    March         25          0
1    James  jamespwd    April         45          1
2      Roy    Roypwd    March         37          1

In [13]:
pd.merge(main_users, forum_users, on='Username', how='left')

  Username  Password JoinDate  Postcount  UserSatus
0      Joe    joepwd    March       25.0        0.0
1    James  jamespwd    April       45.0        1.0
2      Roy    Roypwd    March       37.0        1.0
3    Smith  smithpwd    April        NaN        NaN